<div class="col-sm-12">
    <canvas id="wallview" width="100" height="100" style="border:1px solid #000000;">
    </canvas>
    <script>
        var c = document.getElementById("wallview");
        var ctx = c.getContext("2d");
        c.style.width='100%';
        c.style.height='100%';
        c.width = c.offsetWidth;
        c.height = c.offsetHeight;

        var realWidth = c.width;

        var width = 0;
        var height = 0;

        var margin = 0;

        var boards = {};

        socket.on('initboards', function(_boards) {
            boards = _boards;
            boards.forEach(function(board) {
                if(board[0] + board[2] > width ) {
                    width  = board[0] + board[2];
                }
                if(board[1] + board[3] > height) {
                    height = board[1] + board[3];
                }
            });

            margin = parseInt(realWidth / (width + 1));
            c.style.width=width*margin + 'px';
            c.style.height=height*margin + 'px';
            c.width = c.offsetWidth;
            c.height = c.offsetHeight;

            boards.forEach(function(board) {
                ctx.fillRect(board[0]*margin, board[1]*margin, board[2]*margin, board[3]*margin);
            });

            console.log(width + ", " + height + ", margin: " + margin);
        });

        socket.on('wallupdate', function(_wall) {
            boards.forEach(function (board) {
                for(var x = board[0]; x < board[0] + board[2]; x++) {
                    for(var y = board[1]; y < board[1] + board[3]; y++) {
                        ctx.fillStyle = 'rgb(' + _wall[x][y].r + ', ' + _wall[x][y].g + ', ' + _wall[x][y].b + ')';
                        ctx.fillRect(margin/2 + x * margin, margin/2 + y * margin, 4, 4);
                    }
                }
            });
        });

    </script>
</div>
